@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap');

body{
    font-family: "PT Serif";
    color: white;

}

.main-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}

.body{
    background-color:#111827;
    width: 350px;
    border-radius: 16px;
    -webkit-box-shadow: 3px 4px 15px 2px rgba(130,130,130,0.73), 9px 6px 28px 6px #828282; 
    box-shadow: 3px 4px 15px 2px rgba(130,130,130,0.73), 9px 6px 28px 6px #828282;
}

.display{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    height: 150px;   
    padding: 32px;
}
.display .prompt{
    font-size: 1.1rem;
    margin-bottom: 6px;
    font-weight: bold;
}

.display .result{
    font-size: 2.2rem;
    font-weight: bold;

}

.input{
    background-color:#1F2937;
    padding: 24px 28px;
    border-radius: 32px;
    display:flex;
    flex-direction: column;
    align-items: center;

}
.input-group{
    display: flex;
}
.input .btn{
    background-color: #212732;
    width: 52px;
    height: 52px; 
    font-size: 20px; 
    font-family: "PT Serif";
    margin: 9px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;

}
.operator{
   color:#F87171;
   font-family: "PT Serif";
   font-size: 32px !important;
   font-weight: bold; 
}
